<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="weizhihui.bwie.com.myquarter">

        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.FLASHLIGHT" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

        <uses-feature android:name="android.hardware.camera" />
        <uses-feature android:name="android.hardware.camera.autofocus" />

        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        <uses-permission android:name="android.permission.VIBRATE" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />
            <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
            android:name=".app.MyApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>
        <activity android:name=".ShareActivity" />
        <activity android:name=".Login_Activity" />
        <activity android:name=".ElseLogin_Activity" />
        <activity android:name=".Reg_Activity" />
        <activity android:name=".FinishActivity" />
        <activity android:name=".AttentionActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".DuanZiActivity" />
        <activity android:name=".ShipinContent" />

        <activity
                android:name=".JieCaoVideoActivity"
                android:configChanges="orientation|screenSize|keyboardHidden"

                android:screenOrientation="portrait"></activity>
            <!-- 新浪 的-->
        <activity
                android:name="com.umeng.socialize.media.WBShareCallBackActivity"
                android:configChanges="keyboardHidden|orientation"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:exported="false"
                android:launchMode="singleTask"
                android:screenOrientation="portrait" >
        </activity>

        <activity
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
                android:launchMode="singleTask"
                android:name="com.sina.weibo.sdk.share.WbShareTransActivity">
                <intent-filter>
                    <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>

        </activity>

            <!--qq-->
        <activity
                android:name="com.umeng.qq.tencent.AuthActivity"
                android:launchMode="singleTask"
                android:noHistory="true" >

                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:scheme="tencent100424468" />
                </intent-filter>
        </activity>

        <activity
                android:name="com.umeng.qq.tencent.AssistActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:configChanges="orientation|keyboardHidden|screenSize"/>





            <!-- 分享编辑页-->
        <activity
                android:name="com.umeng.socialize.editorpage.ShareActivity"
                android:theme="@android:style/Theme.NoTitleBar"
                android:excludeFromRecents="true"
                />
            <meta-data android:value="5aaf6a54f29d984ca4000148" android:name="UMENG_APPKEY"/>
            <meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>

        <activity android:name=".ChildAttentionActivity"></activity>
        <activity android:name=".AttentionActivity$AttentionActivity" />
    </application>


</manifest>